[submodule "gaussian-splatting/submodules/diff-gaussian-rasterization"]
	path = gaussian-splatting/submodules/diff-gaussian-rasterization
	url = https://github.com/slothfulxtx/diff-gaussian-rasterization.git
[submodule "gan_preprocessing"]
	path = gan_preprocessing
	url = https://github.com/Florian-Barthel/gan_preprocessing.git
[submodule "gan_inversion"]
	path = gan_inversion
	url = https://github.com/Florian-Barthel/gan_inversion.git
[submodule "diff-gaussian-rasterization"]
	path = diff-gaussian-rasterization
	url = https://github.com/ashawkey/diff-gaussian-rasterization
